<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FullSuite">

    <!-- Rulează toate testele -->
    <test name="AllTests">
        <classes>
            <class name="GroupsExercises"/>
        </classes>
    </test>

    <!-- Rulează doar SMOKE -->
    <test name="SmokeTests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="GroupsExercises"/>
        </classes>
    </test>

    <!-- Rulează doar REGRESSION -->
    <test name="RegressionTests">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="GroupsExercises"/>
        </classes>
    </test>

</suite>